.ans:hover {
    font-weight:bold;
    border: 5px solid #36d080;
    border-radius: 5px;
    padding:0px
}
.chosen {
    background-color:#36d080;
    font-weight:bold;
}
.ans {
    padding:5px;
}
body {
    background-image:url('../images/background.jpg');
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    line-height:1.5em;
}
#topTitle {
    width: 100%;
    background-color: #45433f;
    color: rgb(245, 243, 243);
    font-size:30px;
    text-align:center;
}
#qDiv {
    text-align:center;
    padding:5px 0px 5px 0px;
    background-color:#60a4ab;
    width:50%;
    margin-top:3vh;
    margin-left:25%;
}
#question {
    background-color:#45433f;
    color:rgb(245, 243, 243);
    margin:10px 0 10px 0;
}
#timeRem {
    margin-top:7px;
    color:rgb(245, 243, 243);
    
}
#next{
    margin-top:7px;
}
b {
    font-weight:bold;
}
#qNum,
#wrongText {
    font-size:24px;
}
.warningRed {
    color:#d72a16 !important;
    font-weight: bold;
    font-size:24px;
}
#wrongText {
    margin:10px;
}
.line {
    height:1px;
    margin:20px;
    background-color:#45433f;
}